* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-height: 100vh; /* !so the body can grow when needed*/
    display: grid;
    grid-template-columns: 300px 1fr;
    /* ! 2- we have to set rows too */
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "sidebar footer";

}

nav {
    background-color: slateblue;
    grid-area: navbar;
    padding: 1rem;
}




 aside {
    background-color: saddlebrown;
    grid-area: sidebar;
}

 main {
    background-color: seagreen;
    grid-area: main;
}

footer {
    background-color: slategrey;
    grid-area: footer;
    padding: 1rem;
}