* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: slateblue;
    padding: 1rem;
}

.main-section {
    display: flex;
    flex: 1;
}
.aside {
    background-color: sienna;
    width: 300px;
    padding: 1rem;
}

main {
    background-color: seagreen;
    flex: 1;
    padding: 1rem;
}

footer {
    background-color: saddlebrown;
    padding: 1rem;
}


.hidden {
    display: none;
}