* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-height: 100vh; /* !so the body can grow when needed*/
    display: grid;
    grid-template-columns: 300px 1fr;
    /* ! 2- we have to set rows too */
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "sidebar footer";

}

nav {
    background-color: slateblue;
    grid-area: navbar;
    /* !3- we can apply padding and it won't mess the grid  */
    padding: 1rem
}




 aside {
    background-color: saddlebrown;
    grid-area: sidebar;
    /* position: fixed;
    top: 51px;
    height: 100%;
    width: 300px; */
}
.hidden {
    display: none;
}

 main {
    background-color: seagreen;
    grid-area: main;
    flex: 1;

}

footer {
    background-color: slategrey;
    grid-area: footer;
    padding: 1rem;
}

